
<section id="info" >

	<header class="section-header wow fadeInUp">
            <h3>Contact</h3>
          </header>
          
	<div class="container">

		<div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Addresse</h3>
              <address>{{group.address}}</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Numero téléphone</h3>
              <p><a href="tel:+155895548855">{{group.telephone}}</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">{{group.emailGerant}}</a></p>
            </div>
          </div>

        </div>
	</div>

	<br>
	
	<div class="container">
		<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" >
  		<agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" ></agm-marker>
		</agm-map>
	</div>
	

</section>