
<section id="info" >

	<header class="section-header wow fadeInUp">
            <h3>Contact</h3>
          </header>
          
	<div class="container">

		<div class ="row">
			   
			<div class="box  col-sm">
				<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
				<div class='details'><h3>{{group.address}}</h3></div>
			</div>
			
			<div class="box col-sm">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
				<div class='details'><h3>{{group.telephone}}</h3></div>
			</div>
			
			<div class="box col-sm">
				<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
				<div class='details'><h3>{{group.emailGerant}}</h3></div>
			</div>

		</div>
	</div>

	<br>
	
	<div class="container">
		<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" >
  		<agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
		</agm-map>
	</div>
	

</section>