
<section id="info" >

	<header class="section-header wow fadeInUp">
            <h3>Info</h3>
          </header>
          
	<div class="container">

		<div class ="row">
			   
			<div class="box  col-sm">
				<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
				<div class='details'><h3>India</h3></div>
			</div>
			
			<div class="box col-sm">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
				<div class='details'><h3>+91 9033446195</h3></div>
			</div>
			
			<div class="box col-sm">
				<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
				<div class='details'><h3>info@gmail.com</h3></div>
			</div>

		</div>
	</div>
</section>