
  <section id="intro" >
    <div class="intro-container" >
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox"  >

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/3a/cuisine.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#portfolio" class="btn-get-started scrollto">Projets</a>
                <a href="#info" class="btn-get-started scrollto">Contact</a>
              </div>
            </div>
          </div>

        </div>

       

      </div>
    </div>
  </section>
