<section id="intro" >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
        
          <div class="carousel-item active">
            <img  class="d-block w-100" src="{{app.baseAPIUrl}}/{{group.logo}}" alt="First slide">
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#portfolio" class="btn-get-started scrollto">Projets</a>
                 <a href="#info" class="btn-get-started scrollto">Contact</a>
              </div>
            </div>
          </div>
         
        </div>
      </div>
 </section>