<section id="login" >

<div class="container">
<h1 class="form-heading">Admin</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Connexion administrateur</h2>
   <p>S'il vous plaît entrer votre Nom d'utilisateur et mot de passe</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Nom d'utilisateur">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">

        </div>
       
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>

</div>
</div>

</section>
