<section id="login" class="wow fadeIn">

<div class="container">
<h1 class="form-heading"></h1>
<div class="login-form row align-items-center" >
 <div class="main-div ">
    <div class="panel">
      <h2>Connexion administrateur</h2>
      <p>S'il vous plaît entrer votre Nom d'utilisateur et mot de passe</p>
   </div>
   <form id="Login" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>

        <div class="form-group">


            <input type="text" class="form-control" name="inputUsername" placeholder="Nom d'utilisateur" ngModel required >
         
            
        </div>

        <div class="form-group">

            <input type="password" class="form-control" name="inputPassword" placeholder="Mot de passe" ngModel required>

        </div>
       
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
  </div>

</div>
</div>

</section>
