 <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Nos secteur d'activités</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-3 wow fadeInUp" *ngFor = "let group of groups">
            <div class="about-col">
              <div class="img">
                <img src="{{app.baseAPIUrl}}/{{group.logo}}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-star-half"></i></div> 
              </div>
              <h2 class="title"><a href="#">{{group.name}}</a></h2>
              <p>
                {{group.text}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>