 <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nos Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel" >
          <!--  <img *ngFor= "let client of clients " src="{{client.path}}" > -->
            <img src="assets/img/clients/client-1.png" > 
            <img src="assets/img/clients/client-2.png" > 
            <img src="assets/img/clients/client-3.png" > 
            <img src="assets/img/clients/client-4.png" > 
            <img src="assets/img/clients/client-5.png" > 
            <img src="assets/img/clients/client-6.png" > 
            <img src="assets/img/clients/client-7.png" > 
            <img src="assets/img/clients/client-8.png" > 
        </div>

      </div>
 </section>