<section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Équipe</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row ">

          <div class="col-sm-4">
            <div class="member">
              <img src="img/aymen.jpg" class="mx-auto rounded-circle " alt="" >
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Aymen Ouali</h4>
                  <span>Gérant de la promotion</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/lassad.jpg" class="img-fluid mx-auto rounded-circle " alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lassaad Ouali</h4>
                  <span>Gérant de cuisine et des services</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/lamjad.jpg" class="img-fluid mx-auto rounded-circle "  alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lamjed Ouali</h4>
                  <span>Gérant du bâtiment</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
   

        </div>

      </div>
    </section>