  <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>FAITS</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center" *ngFor= "let fact of facts | keyvalue">
            <span data-toggle="counter-up">{{fact.value}}</span>
            <p>{{fact.key}}</p>
          </div>

        </div>  

      
      </div>
    </section>