
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>A Propos</h3>
          <p>La société 3A Service s'occupe de vous faciliter tout les aspets de votre exploitation.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-mission.jpg" alt="" class="img-fluid ">
            
              </div>
              <h2 class="title"><a href="#">Nés en 1946</a></h2>
              <p>
                Ayant travailler depuis 1946 sur des grands projets d'état, nous continuons, à ce jour, à être au coeur du developpement, de l'urbanisation et de la modernité.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title"><a href="#">En 2014</a></h2>
              <p>
                Groupe 3A a vu le jour en 2014 en prenant comme valeur la satisfaction de ses clients en leurs offrant des services adapté à leur besoin et ceux dans differents domaines.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
               
              </div>
              <h2 class="title"><a href="#">Competences</a></h2>
              <p>
                Nos solutions couvre plusieurs aspects selon vos besoin. Importation des Marchandises, machines, élements... nous nous occupons de vous livrer toute sorte.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>